@use "../abstracts/variables" as *;

.footer {
  border-top: 1px solid $color-text;
  background: $color-header-footer;
}

.footer__inner {
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  font-family: $font-code;
}
