@use "../variables" as *;

.footer {
  border-top: 1px solid $color-border;
  background: $color-header-footer;
}

.footer__inner {
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-muted;
}
