@use "../../abstracts/variables" as *;

.education-section {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: $space-5;
  width: 100%;
  font-family: $font-code;
}
