@use "../../abstracts/variables" as *;

.experience-section {
  width: 100%;
  padding-block: $space-12 $space-10;
  font-family: $font-code;
}

.experience-section .experience-job-card + .experience-job-card {
  margin-top: $space-12;
}
